@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,400;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 20px;
}

body{
    background-color: #6D6FBD;
}

.header{
    background-color: #27298A   ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .navlinks{
    list-style: none;
}

.header .navlinks li{
    display: inline-block;
    padding: 0 20px;
}

.header .navlinks li:hover{
    transform: scale(1.1);
}

.header .navlinks a{
    font-size: 700;
    color: #EA7077;
    text-decoration: none;

}



.header .navlinks li a:hover{
    color: #E7ED98;
}

.header .boton button{
    margin-left:20px;
    font-weight: 700;
    color:#4d01c7;
    padding: 9px 24px;
    background: #af4884;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;

}

.header .boton button:hover{
    background-color: aqua;
    color:#dbd4b2;
    transform: scale(1.1);
}

fieldset{
    border-style: double;
    border-color: #4d01c7;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

form fieldset{
    margin: 0.4rem;
}

legend{
    text-align: center;
    text-shadow: 1px 1px 1px;
    padding-bottom: 1.2rem;
}
.datosPersonales{
    margin: 1rem;
    flex-wrap: wrap;
}

.datosPersonales label{
    flex-wrap: wrap;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.1rem;

    text-shadow: 0.2px 0.2px 0.2px;
}

.datosMotivos{
    margin: 1rem;
    flex-wrap: wrap;
}

.datosMotivos label{
    flex-wrap: wrap;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    text-shadow: 0.2px 0.2px 0.2px;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.botones button{
    border-radius: 5px;
    border:1px solid rgb(17, 97, 64);
    cursor:pointer;
    background-color: #af4884;
    
}

.botones button:hover{
    background: linear-gradient(to bottom, #07837d69 5%, #064737 100%)
}